@font-face {
  font-family: 'Replica Pro';
  src: url('../fonts/fonnts.com-ReplicaPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Replica Pro';
  src: url('../fonts/fonnts.com-Replica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-text-color: #2D1159;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh; width: 100vw; display: flex; flex-direction: column;
  font-family: 'Replica Pro', sans-serif;
  background: linear-gradient(90deg, #eddfff, #fff1f6);
  color: var(--main-text-color);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
    color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}